body{
    background-image: url(./back.jpg);
}

#body{
    width: 1000px;
    text-align: center;
}

#header{
    width: min-content 650px, max-content 1000px;
    background: url(./panorama.jpg);
}

article{
    width: 450px;
    background-color: #5B9CEA;
}

section{
    width: 450px;
    background-color: #5B9CEA;
}

table, td, tr {
    border: 1px solid;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

.jobb{
    float: right;
}

.bal{
    float: left;
}

/* #img{
    width: 40px;
    height: 40px;
} */